In [1]:
import pandas as pd

In [4]:
reviews = pd.read_csv('reviews.csv', iterator=True, chunksize=1000)

In [13]:
reviews = pd.read_csv('reviews')

In [18]:
reviews.head(1)

,Unnamed: 0,business_id,num_reviews,stars,text
0,0,b'5UmKMjUEUNdYWqANhGckJw',7,4,"b'Mr Hoagie is an institution. Walking in, it ..."

In [16]:
categories = pd.read_csv('categories')

In [19]:
categories.head(1)

   Unnamed: 0   categories                business_id
0           0  'Fast Food'  b'5UmKMjUEUNdYWqANhGckJw'

In [26]:
reviews.drop(reviews.columns[[0]], axis=1, inplace=True)

In [30]:
categories.drop(categories.columns[[0]], axis=1, inplace=True)

In [38]:
reviews.head()

,business_id,num_reviews,stars,text
0,b'5UmKMjUEUNdYWqANhGckJw',7,4,"b'Mr Hoagie is an institution. Walking in, it ..."
1,b'5UmKMjUEUNdYWqANhGckJw',7,5,"b""Excellent food. Superb customer service. I m..."
2,b'5UmKMjUEUNdYWqANhGckJw',7,5,b'Yes this place is a little out dated and not...
3,b'5UmKMjUEUNdYWqANhGckJw',7,3,b'PROS: Italian hoagie was delicious. Friendl...
4,b'5UmKMjUEUNdYWqANhGckJw',7,2,b'First the only reason this place could possi...

In [39]:
categories.head()

       categories                business_id
0     'Fast Food'  b'5UmKMjUEUNdYWqANhGckJw'
1   'Restaurants'  b'5UmKMjUEUNdYWqANhGckJw'
2     'Nightlife'  b'UsFtqoBl7naz8AVUBZMjQQ'
3   'Active Life'  b'cE27W9VPgO88Qxe4ol6y_g'
4     'Mini Golf'  b'cE27W9VPgO88Qxe4ol6y_g'

categories has mutiple tags for each business_id (i.e. could be a 'Fast Food' place, but also a 'Restaurants' category).

categories is also not trimmed, the text has extra spaces.  See grouping below

In [41]:
categories.categories.value_counts().head(30)

 'Restaurants'                  25433
 'Shopping'                      8769
'Food'                           8404
 'Beauty & Spas'                 6060
 'Nightlife'                     5013
 'Health & Medical'              4285
 'Home Services'                 4012
'Shopping'                       3675
'Local Services'                 3667
 'Automotive'                    3240
'Active Life'                    3122
 'Event Planning & Services'     2912
'Bars'                           2864
 'Fashion'                       2611
'Hotels & Travel'                2396
 'Coffee & Tea'                  2354
'Hair Salons'                    2330
 'Sandwiches'                    1960
'Fast Food'                      1912
 'Home & Garden'                 1886
 'Nail Salons'                   1879
 'Bars'                          1863
'Home Services'                  1854
'Health & Medical'               1821
'Mexican'                        1798
'Burgers'                        1741
 'Food'                          1739
'Auto Repair'                    1726
 'American (Traditional)'        1716
'Automotive'                     1648
Name: categories, dtype: int64

Note that categories show up twice

# Goal

Using business_id as the UID, I want to build a NLP model that shows which phrases correlate to the highest (number of stars) reviews by category type

In [42]:
categories.head(1)

    categories                business_id
0  'Fast Food'  b'5UmKMjUEUNdYWqANhGckJw'

In [44]:
len(categories)

258014

In [ ]:
#categories.categories.strip()

In [43]:
reviews.head(1)

,business_id,num_reviews,stars,text
0,b'5UmKMjUEUNdYWqANhGckJw',7,4,"b'Mr Hoagie is an institution. Walking in, it ..."

In [45]:
len(reviews)

2685066

topic or clustering, LDA topic,