# 9/15 Yelp Academic Dataset Reviews

In [2]:
import pandas as pd

In [3]:
rdf = pd.read_csv('yelp_academic_dataset_review.csv')

In [3]:
rdf.head()

,votes.cool,date,review_id,votes.useful,business_id,stars,user_id,votes.funny,text,type
0,0,b'2012-08-01',b'Ya85v4eqdd6k9Od8HbQjyA',0,b'5UmKMjUEUNdYWqANhGckJw',4,b'PUFPaY9KxDAcGqfsorJp3Q',0,"b'Mr Hoagie is an institution. Walking in, it ...",b'review'
1,0,b'2014-02-13',b'KPvLNJ21_4wbYNctrOwWdQ',0,b'5UmKMjUEUNdYWqANhGckJw',5,b'Iu6AxdBYGR4A0wspR9BYHA',0,"b""Excellent food. Superb customer service. I m...",b'review'
2,0,b'2015-10-31',b'fFSoGV46Yxuwbr3fHNuZig',1,b'5UmKMjUEUNdYWqANhGckJw',5,b'auESFwWvW42h6alXgFxAXQ',1,b'Yes this place is a little out dated and not...,b'review'
3,0,b'2015-12-26',b'pVMIt0a_QsKtuDfWVfSk2A',0,b'5UmKMjUEUNdYWqANhGckJw',3,b'qiczib2fO_1VBG8IoCGvVg',0,b'PROS: Italian hoagie was delicious. Friendl...,b'review'
4,0,b'2016-04-08',b'AEyiQ_Y44isJmNbMTyoMKQ',1,b'5UmKMjUEUNdYWqANhGckJw',2,b'qEE5EvV-f-s7yHC0Z4ydJQ',0,b'First the only reason this place could possi...,b'review'

In [4]:
#prepare file to see overlap with business dataset#

In [4]:
prep = rdf['business_id']

In [6]:
prep.head()

0    b'5UmKMjUEUNdYWqANhGckJw'
1    b'5UmKMjUEUNdYWqANhGckJw'
2    b'5UmKMjUEUNdYWqANhGckJw'
3    b'5UmKMjUEUNdYWqANhGckJw'
4    b'5UmKMjUEUNdYWqANhGckJw'
Name: business_id, dtype: object

In [5]:
counts_reviews = prep.value_counts()
CV = counts_reviews.to_frame(name='num_reviews')
CV.head()

                           num_reviews
b'4bEjOyTaDG24SY5TxsaUNQ'         5558
b'sIyHTizqAiGu12XMLX3N3g'         4531
b'zt1TpTuJ6y9n551sw9TaEg'         4333
b'aGbjLWzcrnEx2ZmMCFm3EA'         4149
b'2e2e7WgqU1BnpxmQL5jbfw'         4103

In [6]:
CV['business_id'] = CV.index
CV.head()

                           num_reviews                business_id
b'4bEjOyTaDG24SY5TxsaUNQ'         5558  b'4bEjOyTaDG24SY5TxsaUNQ'
b'sIyHTizqAiGu12XMLX3N3g'         4531  b'sIyHTizqAiGu12XMLX3N3g'
b'zt1TpTuJ6y9n551sw9TaEg'         4333  b'zt1TpTuJ6y9n551sw9TaEg'
b'aGbjLWzcrnEx2ZmMCFm3EA'         4149  b'aGbjLWzcrnEx2ZmMCFm3EA'
b'2e2e7WgqU1BnpxmQL5jbfw'         4103  b'2e2e7WgqU1BnpxmQL5jbfw'

In [7]:
ubi_cat = pd.read_csv('unique_BI_in_categories.csv')
ubi_cat = pd.DataFrame(ubi_cat['business_id'])
ubi_cat.head()

                 business_id
0  b'5UmKMjUEUNdYWqANhGckJw'
1  b'UsFtqoBl7naz8AVUBZMjQQ'
2  b'cE27W9VPgO88Qxe4ol6y_g'
3  b'mVHrayjG3uZ_RLHkLj-AMg'
4  b'mYSpR_SLPgUVymYOvTQd_Q'

In [8]:
merged = ubi_cat.merge(CV, left_on = 'business_id', right_on = 'business_id', how='inner')

In [9]:
merged.head()

                 business_id  num_reviews
0  b'5UmKMjUEUNdYWqANhGckJw'            7
1  b'UsFtqoBl7naz8AVUBZMjQQ'            5
2  b'cE27W9VPgO88Qxe4ol6y_g'            5
3  b'mVHrayjG3uZ_RLHkLj-AMg'           25
4  b'mYSpR_SLPgUVymYOvTQd_Q'            3

In [10]:
len(ubi_cat)

85901

In [11]:
len(CV)

85539

In [12]:
len(merged)

85539

In [13]:
merged = merged[['business_id', 'num_reviews']]

merged now contains the business ids that have a category(s) (from business data) and have text reviews.  The 'num_reviews' is the amount from the reviews file, not the reviews_count in business data file.

In [14]:
merged.head()

                 business_id  num_reviews
0  b'5UmKMjUEUNdYWqANhGckJw'            7
1  b'UsFtqoBl7naz8AVUBZMjQQ'            5
2  b'cE27W9VPgO88Qxe4ol6y_g'            5
3  b'mVHrayjG3uZ_RLHkLj-AMg'           25
4  b'mYSpR_SLPgUVymYOvTQd_Q'            3

Next steps is to merge more files.
1)  Get a file that has (stars, text, business_id) from the review set (that has the business_ids in merged)
2)  Get a file that has (categories, business_id) from the business set (that has the business_ids in merged)

Then join this two files.  Should then have categories (multi levels) associated to stars and text.  Then figure out what is driving stars rating by category based on the language in text review

In [15]:
reviews = rdf[['business_id', 'stars', 'text']]
len(reviews)

2685066

In [16]:
reviews = merged.merge(reviews, left_on = 'business_id', right_on = 'business_id', how='inner')

In [17]:
reviews.head(10)

,business_id,num_reviews,stars,text
0,b'5UmKMjUEUNdYWqANhGckJw',7,4,"b'Mr Hoagie is an institution. Walking in, it ..."
1,b'5UmKMjUEUNdYWqANhGckJw',7,5,"b""Excellent food. Superb customer service. I m..."
2,b'5UmKMjUEUNdYWqANhGckJw',7,5,b'Yes this place is a little out dated and not...
3,b'5UmKMjUEUNdYWqANhGckJw',7,3,b'PROS: Italian hoagie was delicious. Friendl...
4,b'5UmKMjUEUNdYWqANhGckJw',7,2,b'First the only reason this place could possi...
5,b'5UmKMjUEUNdYWqANhGckJw',7,1,"b'Normally, I do not do reviews of an establis..."
6,b'5UmKMjUEUNdYWqANhGckJw',7,4,"b""I like this place a lot. It's a good toasted..."
7,b'UsFtqoBl7naz8AVUBZMjQQ',5,5,b'All the food is great here. But the best thi...
8,b'UsFtqoBl7naz8AVUBZMjQQ',5,3,"b""We checked this place out this past Monday f..."
9,b'UsFtqoBl7naz8AVUBZMjQQ',5,1,b'Wing sauce is like water. Pretty much a lot ...

In [19]:
len(reviews)

2685066

In [21]:
reviews.to_csv('reviews')