In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                        title  year
0                   Four Days  1951
1  Hanggang kailan ka papatay  1990
2                Trago Comigo  2013
3               Senin Hikayen  2013
4                 Paso a paso  2015

In [6]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### How many movies are listed in the titles dataframe?

In [8]:
len(titles)

228197

In [10]:
b = set(titles.title)
len(b)

208715

In [15]:
titles.describe()

                year
count  228197.000000
mean     1985.586401
std        29.351668
min      1894.000000
25%      1966.000000
50%      1995.000000
75%      2011.000000
max      2023.000000

In [17]:
order_asc = pd.pivot_table(titles, values=['year'],columns=['title'])

In [18]:
order_asc.head()

title,#1 Serial Killer,#5,#50Fathers,#66,"#73, Shaanthi Nivaasa",#Beings,#DigitalLivesMatter,#Enough,#Escape,#Ewankosau saranghaeyo,...,un repli,una cita con el miedo,uwantme2killhim?,w Delta z,whiteonwhite:algorithmicnoir,within silence,www.XXX.com,xXx,xXx: Return of Xander Cage,xXx: State of the Union
year,2013.0,2013.0,2015.0,2015.0,2007.0,2015.0,2016.0,2015.0,2016.0,2015.0,...,2014.0,2016.0,2013.0,2007.0,2011.0,2015.0,2003.0,2002.0,2017.0,2005.0

In [20]:
order_asc = pd.pivot_table(titles, index=['title'],values=['year'])

In [21]:
order_asc.head()

                         year
title
#1 Serial Killer       2013.0
#5                     2013.0
#50Fathers             2015.0
#66                    2015.0
#73, Shaanthi Nivaasa  2007.0

In [ ]:
order_asc = titles.sort(['A', 'B'], ascending=[1, 0])

### What are the earliest two films listed in the titles dataframe?

In [11]:
early_films = min(titles.year)

In [12]:
early_films

1894

In [13]:
titles.head()

                        title  year
0                   Four Days  1951
1  Hanggang kailan ka papatay  1990
2                Trago Comigo  2013
3               Senin Hikayen  2013
4                 Paso a paso  2015

In [14]:
head(titles)

NameError: name 'head' is not defined

In [22]:
order_asc = titles.sort(['year', 'title'], ascending=[1, 1])

/Users/mjlivingston/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [24]:
order_asc = titles.sort(['year', 'title'], ascending=[0, 0])

/Users/mjlivingston/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [25]:
order_asc.head()

                       title  year
18921   The Realm of Agartha  2023
70382             The League  2023
191234        The Embodiment  2023
188710             St. Cairo  2023
179009   My Fault... Forever  2023

In [27]:
titles.groupby("year").ascending()

AttributeError: 'DataFrameGroupBy' object has no attribute 'ascending'

### How many movies have the title "Hamlet"?

In [44]:
hamlet = titles.query('title == ["Ham???"]')

In [45]:
len(hamlet)

0

In [39]:
hamlet_unique = set(hamlet.year)

In [40]:
hamlet_unique

{1910,
 1911,
 1913,
 1921,
 1948,
 1954,
 1964,
 1969,
 1973,
 1976,
 1987,
 1990,
 1996,
 2000,
 2009,
 2011,
 2014,
 2015,
 2016}

In [41]:
len(hamlet_unique)

19

### How many movies are titled "North by Northwest"?

### When was the first movie titled "Hamlet" made?

### List all of the "Treasure Island" movies from earliest to most recent.

### How many movies were made in the year 1950?

In [47]:
years = titles.groupby(['year'])

In [50]:
titles.query('year ==["1950"]')

Empty DataFrame
Columns: [title, year]
Index: []

### How many movies were made in the year 1960?

In [51]:
titles.query('year ==["1960"]')

Empty DataFrame
Columns: [title, year]
Index: []

In [56]:
sixtynine = titles.query('year ==[1969]')
b = set(sixtynine.title)
len(b)

2145

### How many movies were made from 1950 through 1959?

### In what years has a movie titled "Batman" been released?

### How many roles were there in the movie "Inception"?

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?